<html>
  <head>
    <title>Img2Png</title>
  </head>
  <body>
    <h2>About Img2Png</h2>
    <div>
      Img2Png is a simple web application designed to quickly convert images served
      from any web server into the PNG format.
    </div>
    <h2>Usage</h2>
    <div>
      Apply the url of the source image as a string at the end of the current url. The HTTP scheme should be changed to another "/" delineated attribute.
      <div class='example'>
        http://png.heroku.com/http/www.google.com/intl/en_ALL/images/logo.gif/i.png
      </div>
    </div>
  </body>
</html>