<html>
<head>
  <title>Img2Png</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" />
</head>
<body>
  <div>
    <h2>About Img2Png</h2>
    <p>
      Img2Png is a simple web application designed to quickly convert images served
      from any web server into the PNG format.
    </p>
    <p>
      This works with GIF and JPEG files, though at the moment only GIFs are thoroughly 
      tested. In theory any format supported by ImageMagick should work, though there 
      has been no examination of file size or bandwidth limitations when running live.
    </p>
    <h2>Usage</h2>
    <p>
      Apply the url of the source image as a string at the end of the current url. 
      The HTTP scheme should be changed to another "/" delineated attribute.
    </p>
    <div class='callout'>
      http://png.heroku.com/http/www.google.com/intl/en_ALL/images/logo.gif/i.png
    </div>
    <p>
      Link directly to the source image and the server responds with a 302 message to 
      redirect to the proper URL. This should be ok for viewing in the browser, but if 
      you want to link directly to an image you should probably follow the above usage.
    </p>
    <div class='callout'>
      http://png.heroku.com/http/www.google.com/intl/en_ALL/images/logo.gif
    </div>
    <h2>Limitations</h2>
    <p>
      Img2Png does not do any caching, and does not save any images. All it does is
      download the source into memory and convert it to the new format. It runs on a
      single Heroku dyno using Ruby and Sinatra, with no built-in concurrency. Large source images
      may fail based on memory limitations or based on the server's ImageMagick
      installation.
    </p>
    <p>
      Just throwing that out there.
    </p>
    <h2>Source, Issue tracking</h2>
    <p>
      Img2Png is open source software hosted on Github.com. Any issues or problems
      can be submitted there or on the Lighthouse page for the project. 
    </p>
    <div class='callout'>
      <a href='http://github.com/sax/img2png'>http://github.com/sax/img2png</a><br/>
      <a href='http://img2png.lighthouseapp.com/projects/45989-img2png/tickets'>http://img2png.lighthouseapp.com/projects/45989-img2png/tickets</a>
    </div>
  </div>
</body>
</html>